---
layout: default
title: The Club - Tory Ellers
disclaimer:
   -
      title: Upgrades
      description: Subject to the resort or hotel’s availability
   -
      title: Airfare
      description: >-
         Includes booking your business, first and private flights.
         International flights in economy plus or lower must be handled by the
         member.
   -
      title: Minimum Spending
      description: >-
         There is a $500 per adult/day minimum spending requirement, which
         includes lodging, transfers, and experiences.
   -
      title: Check in/Out
      description: >-
         Available at most luxury hotels, but subject to the resort or hotel’s
         availability.
   -
      title: Complimentary Breakfast
      description: For up to two guests per room
   -
      title: Membership Sharing
      description: >-
         Your membership is only redeemable if the primary or secondary
         membership holder is on the trip.
   - title description
   -
      title: Cost of Services
      description: >-
         The cost of flights, accommodations, and reservations will be billed
         separately from the cost of your Tory Ellers club membership.
accordion:
   -
      question: Complimentary Breakfast
      answer: For up to two guests per room
   -
      question: Complimentary Breakfast
      answer: For up to two guests per room
   -
      question: Complimentary Breakfast
      answer: For up to two guests per room
   -
      question: Complimentary Breakfast
      answer: For up to two guests per room
   -
      question: Complimentary Breakfast
      answer: For up to two guests per room
---
<!----- Figure out the weird padding ------->
<section class="grid bg-image banner-5 tall-30">
    <div class="col-12-middle center">
        <p class="uppercase editable black-text padding-t">tory ellers club memberships</p>
    </div>
    <div class="col-12 center" data-aos="fade-in" data-aos-duration="2000">
        <h3 class="black-text editable large-text padding-b-sm">The world is incredible. Come explore it. </h3>

    </div>
    <div class="col-12 center">
        <p class="editable padding-r-lg padding-l-lg padding-b black-text sm-md-text">
         To celebrate our very first chapter as a club, we’re waiving our <em><strong>enrollment fees</strong></em> for 2022 and 2023. Now there’s even less standing between you and the stories you’ll tell over and over again.
        </p>
    </div>
    <!-- <div class="col-4_sm-12 center mt">
        <h5 class="fancy-text padding-b">Custom Travel Planning</h5>
        <p class="mr ml mt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor cumque voluptates sint
            laudantium
            repellat rerum ullam quidem ad doloribus! Sunt vero reprehenderit accusamus deleniti, fugit eligendi
            autem? Quasi, eos velit.</p>
    </div>

    <div class="col-4_sm-12 center mt">
        <h5 class="fancy-text padding-b">Experiences</h5>
        <p class="mr ml mt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor cumque voluptates sint
            laudantium
            repellat rerum ullam quidem ad doloribus! Sunt vero reprehenderit accusamus deleniti, fugit eligendi
            autem? Quasi, eos velit.</p>
    </div>

    <div class="col-4_sm-12 center mt">
        <h5 class="fancy-text padding-b">Unlimited Assistance</h5>
        <p class="mr ml mt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor cumque voluptates sint
            laudantium
            repellat rerum ullam quidem ad doloribus! Sunt vero reprehenderit accusamus deleniti, fugit eligendi
            autem? Quasi, eos velit.</p>
    </div> -->
</section>

<!-------- THE FEATURES SECTION ---------->

<section class="grid bg-lt-beige padded">
    <div class="col-12 center">
        <h3 class="editable padding-b-sm">The Features</h3>
    </div>
    <div class="col-3_xs-12" data-aos="fade-up">
        <h4 class="editable">Get There.</h4>
        <ul>
            <li class="editable">Chartered flights</li>
            <li class="editable">First or business class plane tickets</li>
            <!-- <li class="editable">Boat, Cruise, and yacht</li> -->
            <!-- <li class="editable">Airport pick up/drop off</li> -->
            <li class="editable">Private cars or drivers</li>
            <li class="editable">Airport transfers, and transportation between each stop on your itinerary</li>
        </ul>
        <p class="editable mob-show ml"><em>Booked for you.</em></p>
    </div>
    <div class="col-3_xs-12" data-aos="fade-up">
        <h4 class="editable">Recharge.</h4>
        <ul>
            <li class="editable">Luxury accommodations at hotels, villas, and resorts</li>
            <li class="editable">Automatic room upgrades</li>
            <li class="editable">Early check in and late check out</li>
            <li class="editable">Resort credit to use for on-site services</li>
            <li class="editable">Complimentary breakfast for two guests per room</li>
            <!-- <li class="editable">First-class service</li> -->
        </ul>
        <p class="editable mob-show ml"><em>On arrival.</em></p>
    </div>
    <div class="col-3_xs-12" data-aos="fade-up">
        <h4 class="editable">Go Out.</h4>
        <ul>
            <li class="editable">Custom itineraries</li>
            <li class="editable">Hand-picked dining reservations</li>
            <li class="editable">Exclusive events</li>
            <li class="editable">Remarkable activities, excursions, and day trips</li>
            <li class="editable">Luxury boat, cruise, and yacht bookings</li>
        </ul>
        <p class="editable ml mob-show"><em>Tailored for you.</em></p>
    </div>
    <div class="col-3_xs-12" data-aos="fade-up">
        <h4 class="editable">Rest Easy.</h4>
        <ul>
            <li class="editable">Insurances, visas, recommended vaccinations, and entry requirements handled for you.</li>
            <li class="editable">Mid trip check-ins</li>
            <li class="editable">Rebooking or trip adjustments for the unexpected</li>
            <li class="editable">Both in-destination and remote support for questions, assistance, or emergencies.</li>
        </ul>
        <p class="editable ml mob-show"><em>Enjoy peace of mind.</em></p>
    </div>
    <div class="col-3">
        <p class="editable mob-hide ml"><em>Booked for you.</em></p>
    </div>
    <div class="col-3">
        <p class="editable mob-hide ml"><em>On arrival.</em></p>
    </div>
    <div class="col-3">
        <p class="editable mob-hide ml"><em>Tailored for you.</em></p>
    </div>
    <div class="col-3">
        <p class="editable mob-hide ml"><em>Enjoy peace of mind.</em></p>
    </div>
</section>
<section class="symbol-3 grid">
    <div>
        <img src="/images/logo3.png" alt="Tory Ellers logo" width="40%" height="100%" />
    </div>
</section>

<!------ PHOTO SECTION -------->

<!-- <section class="grid tall-40 split-lt-beige">
    <div class="col-1"></div>
    <div class="col-10-middle bg-image landscape-narrow center bg-ocean">
    </div>
    <div class="col-1"></div>
</section> -->

<!------- BECOME A MEMBER QUESTION -------->

<!-- <section class="grid padded bg-white-wall">
    <div class="col-7_md-12 center">
        <h4>Why Should You Become a Member of Tory Ellers?</h4>
        <p class="mr-1 ml-1 mt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nulla laborum quo at non
            asperiores! Dolor deserunt, nobis asperiores amet totam quo, ex, atque a corporis aliquam quis voluptatem
            praesentium!</p>
        <p class="mr-1 ml-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nulla laborum quo at non
            asperiores! Dolor deserunt, nobis asperiores amet totam quo, ex, atque a corporis aliquam quis voluptatem
            praesentium!</p>
        <a class="button-white mt" href="services.html">Tory Eller Services</a>
    </div>
    <div class="col-5_md-12 center">
        <h4 class="padding-t">How Do You Become a Member?</h4>
        <p class="mr-1 ml-1 mt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nulla laborum quo at non
            asperiores! Dolor deserunt, nobis asperiores amet totam quo, ex, atque a corporis aliquam quis voluptatem
            praesentium!</p>
        <p class="mr-1 ml-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nulla laborum quo at non
            asperiores! Dolor deserunt, nobis asperiores amet totam quo, ex, atque a corporis aliquam quis voluptatem
            praesentium!</p>
        <p class="mr-1 ml-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus facere alias hic
            labore rem cumque nesciunt ducimus dignissimos repellat ut libero nobis, beatae laboriosam vero atque, eum
            aspernatur repellendus inventore.</p>
    </div>
</section> -->

<!---------- EXPLORA PACKAGE --------->

<div class="grid padded dk-beige-border">
    <!-- <div class="col-6_md-12 center" style="border: 1px solid black;"> -->
        <div class="col-6_md-12-middle center">
            <h2 class="uppercase editable" data-aos="fade-in" data-aos-duration="2000">
             EXPLORA
            </h2>
            <h4 class="editable" data-aos="fade-in">
             <em>Unlock exclusive access &amp; benefits</em>
            </h4>
            <h4 class="mt editable" data-aos="fade-in">
             
            </h4>
            <h4 class="sm-md-text editable padding-b-xs" data-aos="fade-in">
             <em>Complimentary by referral</em>
            </h4>
            <h4 class="mt editable" data-aos="fade-in">
             R<em></em>eady to book your next hotel, resort or cruise reservation?
            </h4>
            <h4 class="sm-md-text editable" data-aos="fade-in">
             
            </h4>
            <p class="padding-b-xs editable" data-aos="fade-in">
             Consider us the key to access exclusive perks<br />add you on top of the list for room upgrades,<br />receive complimentary breakfast, resort credit,<br />early check/in &amp; late check/out, personalized amenities and more at most luxury and ultra luxury hotels &amp; resorts through our invaluable relationships with our partners around the world.</p>
            <p class="xs-text editable"><strong><em>At no extra cost to you!</em></strong></p>
            <!-- <h4 class="mt editable" data-aos="fade-in">
             
            </h4> -->
            <!-- <h4 class="editable padding-b-xs padding-r-lg padding-l-lg" data-aos="fade-in">
             
            </h4> -->
            <a class="editable button-white mt mb uppercase" href="contact.html">join us</a>
        </div> 
        <div class="col-6_md-12" data-aos="fade-up">
            <div class="bg-image editable box-shadow tall-80 shrink-img bg-statue"></div>
        </div>
    </div>
   
<!-- </div> -->
<section class="symbol grid">
    <div>
        <img src="/images/logo3.png" alt="Tory Ellers logo" width="40%" height="100%" />
    </div>
</section>

<!-------- CLASSICO PACKAGE ------->

<div class="grid padded flex-flip bg-lt-beige justify">
    <!-- <div class="col-6_md-12 center padded" style="border: 1px solid black; margin-bottom: 4%;" > -->
        <div class="col-6_md-12-middle center">
            <h2 class="uppercase editable" data-aos="fade-in" data-aos-duration="2000">
             CLASSICO
            </h2>
            <h4 data-aos="fade-in" class="padding-b-xs editable">
             <i>Sourcing extraordinary stays&nbsp;</i>
            </h4>
            <h4 class="mt editable" data-aos="fade-in">To Enroll:</h4>
            <h4 class="sm-md-text padding-b-xs editable" data-aos="fade-in">
             <em><strike>$100</strike> $0 USD</em>
            </h4>
            <h4 class="mt editable" data-aos="fade-in">Annually:</h4>
            <h4 class="sm-md-text editable padding-b-xs" data-aos="fade-in">
             $200 USD
            </h4>
            <p class="padding-b-xs editable" data-aos="fade-in">
             Let us do the research of the top accommodations for your upcoming trip and book on your behalf.<br />Unlock access to top perks and exclusive access with most of our luxury hotel partners.<br />We'll provide you with a mini guide of our top recommendations, things to know before you go and more so you can confidently plan your dream trip.
            </p>
            <p class="xs-text editable"><em>*Additional trips start at $150 USD</em><br><em>** Concierge services are available upon request for an additional fee.</em></p>
            <a class="button-white editable mt mb padding-b-sm uppercase" href="contact.html">join us</a>
        </div> 
        <div class="col-6_md-12" data-aos="fade-up">
            <div class="bg-image editable box-shadow tall-80 shrink-img bg-trevi"></div>
        </div>
    <!-- </div> -->
   
</div>

<!-------- SIGNATURE PACKAGE ------->

<div class="grid padded dk-beige-border">
    <!-- <div class="col-6_md-12 center" style="border: 1px solid black;"> -->
        <div class="col-6_md-12-middle center">
            <h2 class="uppercase editable" data-aos="fade-in" data-aos-duration="2000">
             SIGNATURE
            </h2>
            <h4 class="editable" data-aos="fade-in">
             <em><em><em>1 custom-tailored trip per year</em></em></em>
            </h4>
            <h4 class="mt editable" data-aos="fade-in">To Enroll:</h4>
            <h4 class="sm-md-text editable padding-b-xs" data-aos="fade-in">
             <i><strike>$200</strike> $0 USD</i>
            </h4>
            <h4 class="mt editable" data-aos="fade-in">Annually:</h4>
            <h4 class="sm-md-text editable" data-aos="fade-in">
             <strike></strike>$1000 USD
            </h4>
            <p class="padding-b-xs editable" data-aos="fade-in">
             We'll collaborate with you to curate every detail of your itinerary to your taste, personality and travel style in combination with our destination expertise, invaluable relationships and unique insider tips for an exceptional travel experience.</p>
            <p class="xs-text editable"><em>*Additional trips start at $50 per day, per traveler.</em></p>
            <!-- <h4 class="mt editable" data-aos="fade-in">
             
            </h4> -->
            <!-- <h4 class="editable padding-b-xs padding-r-lg padding-l-lg" data-aos="fade-in">
             
            </h4> -->
            <a class="editable button-white mt mb uppercase" href="contact.html">join us</a>
        </div> 
        <div class="col-6_md-12" data-aos="fade-up">
            <div class="bg-image editable box-shadow tall-80 shrink-img bg-france-2"></div>
        </div>
    </div>

<!------- THE FINE PRINT SECTION --------->

<section class="grid padded center bg-dk-beige">
    <div class="col-12 center">
        <h3 class="editable white-text large-text">The Fine Print.</h3>
        <h4 class="white-text editable">
         Important details about your Classico membership.
        </h4>
    </div>
    {% for item in page.disclaimer %}
    <div class="col-4_sm-12 mt" data-aos="fade-up">
        <h4 class="white-text editable center sm-md-text">{{item.title}}</h4>
        <p class="white-text editable center padding-l padding-r">{{item.description}}</p>
    </div>
    {% endfor %}
</section>

<!------ PHOTO SECTION -------->
<section class="grid-center mobile-img banner-8"></section>

<!--------- ACCORDION SECTION --------->

<!-- <div class="accordion padded mr-1 ml-1">
    <h3 class="center uppercase mb">Client Services</h3>
    {% for item in page.accordion %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                {{item.question}}
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
                {{item.answer}}
            </div>
        </div>  
    </div>
    {% endfor %}

<section class="symbol-2 grid">
    <div>
        <img src="/images/logo3.png" alt="Tory Ellers logo" width="40%" height="100%" />
    </div>
</section> -->