/* 
Colors
    Blanco #FFFFFF
    Snow White (Lt Beige) #F2F0EB
    Jet Stream (Md Beige) #EDE6DE
    Pure Cashmere (Dark Beige) #AEA396
    Black #101820
    Camel #B0846A

Fonts
    MinervaModern
    Libre Baskerville
*/

@font-face {
    font-family: 'brittany';
    src: url('./fonts/BrittanySignature.ttf');
}

@font-face {
    font-family: 'libre';
    src: url('./fonts/LibreBaskerville-Regular.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div { display: block; }

header {
    padding: 1% 5%;
}

header [class*=col] {
    padding: 0;
}

body,
html {
    border: none;
    overflow-x: hidden;
}

html { display: block; }

.uppercase { text-transform: uppercase; }

/* Typography */

h1, h2, h3, p, a {
    font-family: minerva-modern, sans-serif;
    color: #292c33;
    letter-spacing: 1px;
}

h4, h5 {
    font-family: 'libre', 'serif'; 
    font-weight: 100;
    color: #292c33;
    letter-spacing: 1px;
}

h1 { 
    font-size: 2.8rem;
    font-weight: 400;
}

h2 { 
    font-size: 2.5rem;
    /* font-weight: 300; */
}

h3 {
    font-weight: 200;
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 100;
}

h5 {
    font-size: 1.1rem;
    font-weight: 300;
}

p {
    font-size: 1rem;
    font-weight: 100;
}
/* 
.logo {
    font-family: minerva-modern, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    color: #292c33;
} */

li {
    font-size: 0.9rem;
    font-weight: 100;
    font-family: minerva-modern, sans-serif;
}

a {
    text-decoration: none; 
    font-size: 1.3rem;
    /* padding: 1rem; */
    /* text-transform: uppercase; */
}

a:hover {
    color: #B0846A;
}


h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
    margin-bottom: 0;
}

.fancy-text { 
    font-family: 'brittany'; 
    font-size: 2rem;
    margin-bottom: 3%;
}

.copyright-text {
    font-size: 0.8rem;
}

hr {
    border: none;
    border-bottom: 2px solid #292c33;
    width: 18rem;
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;
    /* padding: 1%; */
}

/* Utility Classes and Universal Styles */

.justify { justify-content: center; }

.left    { text-align: left; }
.center  { text-align: center; }
.right   { text-align: right; }

.padded { padding: 5%; }
.padded-sm { padding: 1rem; }
.padded-md { padding: 3%; }
.padded-lg { padding: 10%; }

.padding-0 { padding: 0; }
.padded-2 { padding: 2rem; }

.padding-r { padding-right: 10%; }
.padding-l { padding-left: 10%; }
.padding-t { padding-top: 5%; }
.padding-b { padding-bottom: 5%; }

.padding-l-sm { padding-left: 4%; }
.padding-t-sm { padding-top: 3%; }
.padding-r-sm { padding-right: 3%; }
.padding-b-sm { padding-bottom: 3%; }

.padding-r-lg { padding-right: 18%; }
.padding-l-lg { padding-left: 18%; }

.featured-padded { 
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    opacity: 1;
}

.margin {
    margin: 4%;
}
.mt     { margin-top: 3%; }
.mb-sm  { margin-bottom: 1.5%; }
.mb     { margin-bottom: 3%; }
.mr     { margin-right: 3%; }
.ml     { margin-left: 3%; }

.ml-1   { margin-left: 10%; }
.mr-1   { margin-right: 10%; }

.mb-2   { margin-bottom: 5%; }
.mr-2   { margin-right: 15%; }
.ml-2   { margin-left: 15%; }
.mt-2   { margin-top: 15%;  }

.ml-3   { margin-left: 1% }
.mt-3   { margin-top: 2%; }
.mr-3   { margin-right: 1%; }

.mb-4   { margin-bottom: 20%; }
.ml-4   { margin-left: 23%; }

.tall-10 { min-height: 10vh; }
.tall-15 { min-height: 15vh; }
.tall-20 { min-height: 20vh; }
.tall-30 { min-height: 30vh; }
.tall-40 { min-height: 40vh; }
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-82 { min-height: 82vh; }
.tall-90 { min-height: 90vh; }
.tall-100 { min-height: 100vh; }

.highlight { 
    background-color: rgb(240,240,245);
    display: inline-block;
    padding: 2rem; 
    margin: 2px;
    opacity: 90%;
}

.xl-text { 
    font-size: 3.2rem; 
    /* font-family: minerva-modern, sans-serif; */
    letter-spacing: 0.3px;
    font-weight: 300;
}

.large-text { 
    font-size: 3rem; 
    color: white;
    font-weight: 300;
    letter-spacing: 0.5px;
    /* font-family: minerva-modern; */
}

.med-text {
    font-size: 1rem; 
    font-weight: 300;
    letter-spacing: 0.5px;
}

.med-lg-text {
    font-size: 2.6rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.sm-md-text {
    font-size: 1.5rem;
}

.small-text { font-size: 1.2rem; }

.bold-text { 
    font-size: 1.7rem;
    font-weight: 600;
}

.bold-para {
    font-size: 1rem;
    font-weight: 600;
}

.bold-med-text {
    font-size: 1rem;
    font-weight: 600;
}

.white-text { 
    color: white; 
    letter-spacing: 0.5px;
}

.black-text {
    color: #101820;
    position: relative;
}

.grey-text  { 
    color: #504E4E;
    font-weight: 100;
}

.dk-beige-text  { 
    color: #AEA396;
    font-weight: 100;
}

.linen-text { color: #ede8e3; }

.footer-text {
    font-weight: 300;
    font-size: 1.2rem;
}

.bg-featured    { background-color: #003734; }
.bg-lt-beige    { background-color: #F2F0EB; }
.bg-md-beige    { background-color: #EDE6DE ;}
.bg-dk-beige    { background-color: #AEA396;}
.bg-camel       { background-color: #B0846A; }
.bg-white-wall { 
    background-image: url('./images/white_wall_hash.png');
    background-position: center;
}

.split-dk-beige {
    background: linear-gradient(
180deg,#fff 50%,#AEA396 50%);
}

.split-lt-beige {
    background: linear-gradient(
180deg,#fff 50%, #EDE6DE 50%);
}

.back-to-top {
    position: fixed;
    bottom: 0;
    right: 0;
}

.border { 
    border-style: double;
    color: black;
    border-width: 5px;
}

/* Tory Ellers symbol */

.symbol {
    position: relative;
    top: 14px;
    left: 50px;
    background-color:rgba(0, 0, 0, 0);
    
}

.symbol-2 {
    position: relative;
    top: 14px;
    left: 93%;
    background-color:rgba(0, 0, 0, 0);
}
.symbol-3 {
    position: relative;
    top: -14px;
    left: 93%;
    background-color:rgba(0, 0, 0, 0);
}


/* Button Classes */

.banner .btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: #555; */
    color: white;
    /* font-size: 16px; */
    /* padding: 12px 24px; */
    border: none;
    cursor: pointer;
    /* border-radius: 5px; */
    max-width: 800px;
  }

.button-grey {
    border: 2px solid #504E4E;
    padding: 0.6rem 2rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #AEA396;
}

.button-white {
    border: 2px solid #504E4E;
    padding: 0.6rem 3.5rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: url('./images/white_wall_hash.png'); 
}

.button-white-border {
    border: 2px solid white;
    padding: 0.6rem 2rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}

.button-white-border:hover {
    color: #101820;
}

.button-grey:hover {
    border: 2px solid #F2F0EB;
}

.button-white:hover {
    border: 2px solid #B0846A;
}

.static-button {
    border: 3px solid white;
    padding: 0.6rem 2rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}

.static-button:hover { color: #101820; }

/* Images & Background Images */

.box-shadow { box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }

.beige-border { border: 6px solid #AEA396; }
.dk-beige-border  { 
    border: 1px solid #AEA396; 
    /* padding: 10% */
}

.vl {
    border-left: 1px solid #AEA396;
    height: 500px;
}

.vr {
    border-right: 1px solid #AEA396;
    height: 500px;
}

.gallery [class*="col-"] {
    padding: 0.5%;
}

.fixed {
    background-attachment: fixed;
}

.bg-image {
    background-color:rgb(240,240,240);
    background-size: cover; 
    background-repeat: no-repeat;
}

.landscape { padding-bottom: 65%; }
.landscape-wide { padding-bottom: 56%; }
.portrait { padding-bottom: 125%; }
.portrait-tall { padding-bottom: 175%; }
.square { padding-bottom: 100%; }

.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }
.bg-pos-c { background-position: center; }

.banner {
    background-image: url('/images/maldives.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    position: relative;
}

.banner-2 {
    background-image: url('/images/morocco.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    position: relative;
}

.banner-3 {
    background-image: url('/images/santorini.jpg');
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    position: relative;
}

.banner-4 {
    background-image: url('/images/italian-lake.JPG');
    background-size: cover;
    background-position: 50% 85%;
    min-height: 60vh;
    position: relative;
}

.banner-8 {
    background-image: url('/images/maldives.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
}

.banner-5 {
    background-position: center;
    /* min-height: 60vh; */
    position: relative;
}

.banner-5::before {
    content: "";
    background-image: url('/images/sunset.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

.banner-6 {
    background-image: url('/images/venice-canal.JPG');
    background-size: cover;
    background-position: 50% 80%;
    min-height: 80vh;
    position: relative;
}

.banner-7 {
    background-position: bottom;
    /* min-height: 60vh; */
    position: relative;
}

.banner-7::before {
    content: "";
    background-image: url('/images/endless-sea.JPG');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 3;
    z-index: -1;
}

.bg-gondola {
    background-image: url('./images/gondola.jpg');
    background-position: center;
}

.bg-bagan-balloon {
    background-image: url('./images/bagan-balloons.jpg');
    background-position: center;
}

.bg-riomaggiore {
    background-image: url('./images/riomaggiore.JPG');
    background-position: center;
}

.bg-endless-sea {
    background-image: url('./images/endless-sea.JPG');
    /* background-position: center; */
}

.bg-zebra {
    background-image: url('./images/zebra.jpg');
    background-position: center;
}

.bg-philippines {
    background-image: url('./images/philippines.jpg');
    /* background-position: center; */
}

.bg-el-nido {
    background-image: url('./images/el-nido.JPG');
    background-position: 50% 70%;
}

.bg-paris {
    background-image: url('./images/paris.JPG');
    background-position: bottom;
}

.bg-maldives-sandbank {
    background-image: url('./images/maldives-sandbank.jpg');
    /* background-position: bottom; */
}

.bg-positano {
    background-image: url('./images/positano.JPG');
    background-position: 50% 60%;
}

.bg-santorini-greece {
    background-image: url('./images/santorini-greece.jpg');
    background-position: center;
}

.bg-manarola-italy {
    background-image: url('./images/manarola-italy.JPG');
    /* background-position: top; */
}

.bg-mexico {
    background-image: url('./images/mexico.jpg');
    background-position: center;
}

.bg-elephant {
    background-image: url('./images/elephant.jpg');
    background-position: 0px 0px;
}

.bg-jaipur {
    background-image: url('./images/jaipur.JPG');
    background-position: center;
}

.bg-sandbank {
    background-image: url('./images/sandbank.JPG');
    background-position: 40% 40%;
}

.bg-italian-lake {
    background-image: url('./images/italian-lake.JPG');
    background-position: 50% 70%;
}

.bg-florence-duomo {
    background-image: url('./images/florence-duomo.JPG');
    background-position: center;
}

.bg-morocco-camels {
    background-image: url('./images/morocco-camels.JPG');
    background-position: center;
}

.bg-giraffe {
    background-image: url('./images/giraffe.jpg');
    background-position: bottom;
}

.bg-trevi {
    background-image: url('./images/trevi.JPG');
    background-position: center;
}

.bg-santorini {
    background-image: url('./images/santorini.jpg');
    background-position: center;
}

.bg-vietnam {
    background-image: url('./images/vietnam.jpg');
    background-position: center;
}

.bg-florence {
    background-image: url('./images/florence.jpg');
    background-position: center;
}

.bg-balloon-tanzania {
    background-image: url('./images/balloon-tanzania.jpg');
    background-position: 50% 40%;
}

.bg-bali {
    background-image: url('./images/bali.jpg');
    background-position: 30% 10%;
}

.bg-manarola {
    background-image: url('./images/manarola.jpg');
    background-position: center;
}

.bg-morocco {
    background-image: url('./images/morocco.jpg');
    background-position: center;
}

.bg-italy-hotel {
    background-image: url('./images/italy-hotel.jpg');
    background-position: bottom;
}

.bg-ocean {
    background-image: url('./images/ocean.jpg');
    background-position: center;
}

.bg-statue {
    background-image: url('./images/statue.JPG');
    background-position: 50% 20%;
}

.bg-ocean-drone {
    background-image: url('./images/ocean-drone.jpg');
    background-position: 50% 30%;
}

.bg-fiat {
    background-image: url('./images/fiat.jpg');
    background-position: 20% 40%;
}

.bg-mykonos {
    background-image: url('./images/mykonos.JPG');
    background-position: center;
}

.bg-santorini-church {
    background-image: url('./images/santorini-church.JPG');
    background-position: center;
}

.bg-france {
    background-image: url('./images/france.JPG');
    background-position: top;
}

.bg-france-2 {
    background-image: url('./images/france-2.JPG');
    background-position: center;
}

.bg-como {
    background-image: url('./images/como.JPG');
    background-position: bottom;
}

.bg-wat-arun {
    background-image: url('./images/wat-arun.jpg');
    background-position: 40% 80%;
}

.bg-pamela {
    background-image: url('./images/pamela.jpg');
    background-position: 50% 70%;
}

.bg-pamela-2 {
    background-image: url('./images/pamela-2.jpg');
    background-position: 50% 70%;
}

.bg-lofoten {
    background-image: url('./images/lofoten.JPG');
    background-position: center;
}

.bg-venice-canal {
    background-image: url('./images/venice-canal.JPG');
    background-position: center;
}

.bg-hotel-1 {
    background-image: url('./images/hotel-1.jpg');
    background-position: center;
}

.bg-hotel-4 {
    background-image: url('./images/hotel-4.jpg');
    background-position: 50% 30%;
}

.bg-hotel-5 {
    background-image: url('./images/hotel-5.jpg');
    background-position: center;
}

.bg-hotel-6 {
    background-image: url('./images/hotel-6.jpg');
    background-position: 50% 30%;
}

.bg-hotel-3 {
    background-image: url('./images/hotel-3.jpg');
    background-position: center;
}

.main-logo {
    background-image: url('./images/logo1.png');
    background-position: center;
    background-size: cover;
    width: 15%;
    height: 10%;
}

/* Image Gallery */

/* Aspect Ratio  */
.portrait-tall { padding-bottom: 175%; }
.tall-portrait { padding-bottom: 152%; }
.portrait { padding-bottom: 125%; }
.square { padding-bottom: 100%; }
.landscape { padding-bottom: 66%; }
.landscape-small { padding-bottom: 75%; }
.landscape-wide { padding-bottom: 56%; }
.landscape-narrow { padding: 20%; }

/* Background Position */
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


.gallery [class*="col-"] {
  padding: 0.5%;
}

.circle {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.rounded-top {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
}

.rounded-corner {
    border-top-left-radius: 125px;
    border-bottom-right-radius: 125px;
}

.rounded {
    border-top-left-radius: 80%;
    border-bottom-right-radius: 80%;
    border-top-right-radius: 80%;
    border-bottom-left-radius: 80%;
}

/* Hover Containers for Images */

.hover-container {
    background-size: cover;
    background-position: center;
}

.hover-overlay {
    position: relative;
    padding-bottom: 100%;
    color: rgb(255,255,255,0);
    transition: all 0.3s;
}

.hover-overlay:hover {
    background-color: rgb(60,60,60,0.7);
    color: white;
}

.hover-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flex-flip {
    flex-direction: row-reverse;
}

/* Accordian Styles */

.accordion-header { color: black; }
.accordion-button { 
    background-color: white !important; 
    color: black !important; 
    font-size: 1.3rem !important;
    font-weight: 100 !important;
}
.accordion-body   { 
    color: black !important; 
    font-family: minerva-modern sans-serif;
}
.accordion-item   { 
    border: none; 
}

/* Contact Form Styles */
  
form input, 
form textarea {
  width: 50%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  outline: none;
  border: none;
  /* border: 2px solid rgb(220,220,220); */
  font-family: minerva-modern, sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  /* background-color: #f4eee6; */
  border-bottom: 2px solid #B0846A;
  background-color: #F2F0EB;
}

form input:focus,
form textarea:focus {
  border-color: #B0846A;
}

textarea {
  min-height: 0.5rem;
}

form label {
  margin-top: 1rem;
  display: block;
  color: #B0846A;
  font-weight: bold;
}

form button {
  background-color: #F2F0EB;
  opacity: 80%;
  font-family: minerva-modern, sans-serif;
  color: #101820;
  border: 2px solid #B0846A;
  /* border-radius: 3px; */
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
}

form button:hover {
  background-color: #F2F0EB;
  color: #B0846A;
  border: 2px solid #B0846A;
}

/* Menu & Mobile Menu */

.burger-button {
    position: fixed;
    top: 4vh;
    right: 4vh;
    z-index: 9;
    padding: 9px;
    margin-top: 1rem;
}

.burger-button.active .burger-top {
    position: absolute;
    top: 8px;
    transform: rotateZ(45deg);
}

.burger-button.active .burger-bottom {
    position: absolute;
    bottom: 8px;
    transform: rotateZ(-50deg);
}

.burger-button.active .burger-middle {
   border-color: transparent;
   background-color:rgba(0, 0, 0, 0);
}

.burger-button.active span {
    border-color: #000;
    background-color: #000;
}

.burger-button span {
    width: 30px;
    border-bottom: 1px solid #000;
    display: block;
    border-radius: 22px;
    transition: 1s;
}

.burger-top {
    top: 2px;
}

.burger-bottom {
    bottom: 2px;
}

.burger-bottom, .burger-top {
    position: absolute;
}

.burger-menu.active {
    top: 0;
    bottom: 0;
}

.burger-menu {
    display: flex;
    /* position: fixed; */
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 100vh;
    background-color: #ede8e3;
    padding: 5px;
    /* box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%); */
    z-index: 8;
    transition: 1s;
    align-content: space-around;
    flex-direction: column;
}

.hamburger-button {
    color: #000;
    cursor: pointer; 
    /* padding: 1.5rem; */
    padding-right: 5%;
    display: inline-block;
    line-height: 0.7;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.hamburger-button-2 {
    cursor: pointer; 
    /* padding: 1.5rem; */
    padding-right: 5%;
    display: inline-block;
    line-height: 0.7;
    z-index: 10;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* #hamburger-button.active {
    transform: translateY(10px) rotate(40deg);
} */

.hamburger-button.active {
    color: black;
    transform: translateY(10px) rotate (40deg);
}

.line {
    width: 70px;
    height: 2px;
    background-color: #000;
    display: block;
    margin: 8px auto;
    transition: all .3s ease-in-out;
}

.mobile-menu {
    color: inherit;
    display: none;
    background-color: #ede8e3;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    z-index: 1;
    text-transform: uppercase; 
}

.mobile-menu a {
    display: block;
    padding: 5vh 4%;
}

/* Slick Slider styles */

.slider-container { padding: 5%; }

.slider-item {
    padding: 1rem;
    display: none;
}

.slider-item:first-child {
    display: block;
}

.slick-next::before, .slick-prev::before {
    font-family: slick;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: black;
}

.slick-prev {
    left: 2%;
}

.slick-next {
    right: 2%;
}

.slick-dots {
    bottom: 12%;
    left: 0; /* This align the dots perfectly to the center, do not delete */
}

.slick-dots li,
.slick-dots li button {
   	width: 10px;
}

/* General Responsive Styles (Desktop and below) */

.mob-show {
    display: none;
}

.header-home {
    padding: 1% 4%;
}
.nav-text {
    font-size: 1rem;
    font-weight: 300;
}

/* Footer */

.footer-nav {
    /* padding: 3%; */
    font-weight: 300;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.social-links i {
    font-size: 1.2rem;
}

.icons i {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    color: #AEA396;
}

/* Media Queries */

@media(max-width: 64em) {
    .mob-hide       { display: none; }
    .mob-show       { display: block; }
    h1              { font-size: 2rem; }
    h3              { font-size: 1.7rem; }
    p               { font-size: 0.9rem;}
    nav a           { font-size: 1.4rem; }
    hr              { width: 10rem; }
    .large-text     { font-size: 2.3rem; }
    .sm-md-text     { font-size: 1.2rem; }
    .xl-text        { font-size: 2.5rem; }
    .med-lg-text    { font-size: 2.6rem; }
    .small-text     { font-size: 0.9rem; }
    .mob-pad        { 
        padding-right: 6%;
        padding-left: 6%;
     }
     .mob-pad-2        { 
        padding-right: 4%;
        padding-left: 4%;
     }
    .static-button  { 
        font-size: 1.7rem; 
        margin-bottom: 10%;
    }
    .static-quote  { 
        /* font-size: 1.7rem;  */
        margin-top: 10%;
    }

    .shrink-img { 
        min-height: 40vh;
    }

}

@media(max-width: 48em) {
    .mob-hide       { display: none; }
    .mob-show       { display: block; }
    h1              { font-size: 1.7rem; }
    h3              { font-size: 1.4rem; }
    nav a           { font-size: 1.7rem; }
    .footer-text    { font-size: 1rem; }
    .sm-md-text     { font-size: 0.7rem; }
    .xl-text        { font-size: 1.8rem; }
    .large-text     { font-size: 1.3rem; }
    .med-text       { font-size: 1.1rem; }
    .med-lg-text    { font-size: 2.4rem; }
    .bold-text      { font-size: 1.2rem; }
    .banner         { min-height: 80vh; }
    .mob-pad        { 
        padding-right: 8%;
        padding-left: 8%;
     }
     .mob-pad-2        { 
        padding-right: 6%;
        padding-left: 6%;
     }
    .static-button  { 
        font-size: 1.2rem; 
        margin-bottom: 10%;
    }
    .static-quote  { 
        /* font-size: 1.2rem;  */
        margin-top: 10%;
    }
}

@media(max-width: 36em) {
    .mob-hide       { display: none; }
    .mob-show       { display: block; }
    h1              { font-size: 1.5rem; }
    h2              { font-size: 1.4rem; }
    h3              { font-size: 1.4rem; }
    h4              { font-size: 1rem; }
    p               { font-size: 0.8rem;}
    a               { font-size: 0.9rem; }
    nav a           { font-size: 1.3rem; }
    .med-lg-text    { font-size: 1.3rem; }
    .footer-text    { font-size: 0.4rem; }
    .static-button  { 
        font-size: 0.4rem; 
        margin-bottom: 10%;
    }
    .banner         { min-height: 80vh; }
    .symbol         { left: 50px; }
    .symbol-2       { left: 93%; }
    .symbol-3       { left: 87%; }
    .mobile-img     { min-height: 30vh; }
}