<!-------- Link for jQuery Library --------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
    integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!----- Slick Slider JS ------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!---- Animate on Scroll JS ------>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<!------ Animate on Scroll details ------>
<script>
    AOS.init({
        offset: 150, // offset (in px) from the original trigger point
        delay: 10, // values from 0 to 3000, with step 50ms
        duration: 1000, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: false, // whether animation should happen only once - while scrolling down
    });
</script>

<!------- MATERIALIZE JS --------->
<!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->

<!------- Bootstrap JS -------->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

<!-------- lIGHTGALLERY --------->

<script src="js/lightgallery.umd.js"></script>

<!-- lightgallery plugins -->
<script src="js/plugins/lg-thumbnail.umd.js"></script>
<script src="js/plugins/lg-zoom.umd.js"></script>

<script type="text/javascript">
    lightGallery(document.getElementById('lightgallery'), {
        speed: 500,
        mode: fade,
        dowload: false,
        enableSwipe: true,
        closable: true,
        controls: true,
        escKey: true,
    })
</script>

<script type="text/javascript">
    $('.hamburger-button').click(function () {
        $('.mobile-menu').slideToggle();
        $(this).toggleClass('active');
    })
</script>

<!------- working hamburger menu --------->

<script type="text/javascript">
    $('.burger-button').click(function () {
        $('.mobile-menu').slideToggle();
        $(this).toggleClass('active');
    })
</script>

<!------- slick slider -------->

<script type="text/javascript">
    $('.slider-container').slick({
        autoplay: true, // Do we want it to autoplay? true or false
        slidesToShow: 3,
        slidesToScroll: 3,
        autoplaySpeed: 3000, // How long between each slide when auto-playing
        speed: 500, // How fast is the transition in milliseconds
        arrows: true, // Do you want to show arrows to trigger each slide
        accessibility: true, // Enables keyboard tabbing and arrow key navigation
        dots: true, // Enables the dots below to show how many slides
        fade: false, // Changes the animate from slide to fade if true
        infinite: true, // When true, means that it will scroll in a circle
        pauseOnHover: false, // When true means the autoplay pauses when hovering
        pauseOnDotsHover: true, // Pauses the autoplay when hovering over the dots
    });
</script>

<!-- <script type="text/javascript">
    $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script> -->