<section class="grid bg-lt-beige center">
    <div class="col-12-middle padding-t-sm">
        <a href="#" target="_blank" class="ml-3 sm-md-text">Follow our story @toryellers</a>
    </div>
    <div class="col-12">
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="//lightwidget.com/widgets/34696e3bb7d1583abd08964985b8acd2.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </div>
</section>
