<!-- <header class="grid-middle bg-lt-beige tall-15 header-home">
    <nav class="col-4-middle left mob-hide">     
        <a class="nav-text uppercase" href="/services.html">Our Services</a>
        <a class="nav-text uppercase padding-l" href="/about.html">Learn More</a>
    </nav>
    <div class="col-4-middle mob-hide center">
        <a href="/index.html">
            <img src="/images/logo1.png" alt="Tory Ellers logo" width="80%" height="80%">
        </a> 
    </div>
    <nav class="col-4-middle right mob-hide">     
        <a class="nav-text uppercase padding-r" href="/contact.html">Plan a Trip</a>
        <a class="nav-text uppercase" href="/membership.html">The Club</a>
    </nav>
    <div class="col-6 mob-show left">
        <a href="/index.html">
            <img src="/images/logo1.png" alt="Tory Ellers logo" width="70%" height="70%">
        </a> 
    </div>
    <div class="col-6">
        <div class="hamburger-button mob-show padding-t right">
            <h4 class="right">&#9776</h4>
        </div>
    </div>
</header>


<div class="mobile-menu">
    <nav>
        <a href="/index.html">Home</a>
        <a href="/services.html">Our Services</a>
        <a href="/about.html">Learn More</a>
        <a href="/contact.html">Plan a Trip</a>
        <a href="/membership.html">The Club</a>
    </nav>
</div> -->


<!-------- TRYING TO FIX HAMBURGER MENU ------->

<header class="grid-middle bg-lt-beige tall-15 header-home">
    <nav class="col-4-middle left mob-hide">     
        <a class="nav-text uppercase" href="/services.html">Our Services</a>
        <a class="nav-text uppercase padding-l" href="/about.html">Our Story</a>
    </nav>
    <div class="col-4-middle mob-hide center">
        <a href="/index.html">
            <img src="/images/logo1.png" alt="Tory Ellers logo" width="80%" height="80%">
        </a> 
    </div>
    <nav class="col-4-middle right mob-hide">     
        <a class="nav-text uppercase padding-r" href="/contact.html">Plan a Trip</a>
        <a class="nav-text uppercase" href="/membership.html">The Club</a>
    </nav>
    <div class="col-6 ml-4 mob-show">
        <a href="/index.html">
            <img src="/images/logo1.png" alt="Tory Ellers logo" width="100%" height="100%">
        </a> 
    </div>
</header>

<nav class="mob-show">
    <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    <div class="mobile-menu">
        <a href="/index.html">
            <img src="/images/logo3.png" alt="Tory Ellers logo" width="5%" height="5%">
        </a>
        <a href="/services.html">Our Services</a>
        <a href="/about.html">Our Story</a>
        <a href="/contact.html">Plan a Trip</a>
        <a href="/membership.html">The Club</a>
    </div>
</nav>
<!-- 
<div class="mobile-menu" style="display: none;">
    <nav>
        <a href="/index.html">Home</a>
        <a href="/services.html">Our Services</a>
        <a href="/about.html">Learn More</a>
        <a href="/contact.html">Plan a Trip</a>
        <a href="/membership.html">The Club</a>
    </nav>
</div> -->