<header class="grid-middle bg-lt-beige tall-15 header-home">
    <nav class="col-4-middle left mob-hide">     
        <a class="nav-text uppercase" href="/services.html">Services</a>
        <a class="nav-text uppercase" href="/about.html">About</a>
    </nav>
    <div class="col-4-middle center">
        <a href="/index.html">
            <img src="/images/logo1.png" alt="Tory Ellers logo" width="80%" height="80%">
        </a> 
    </div>
    <nav class="col-4-middle right mob-hide">     
        <a class="nav-text uppercase" href="/contact.html">Contact</a>
        <a class="nav-text uppercase" href="/membership.html">Membership</a>
    </nav>
    <div class="col-6-middle">
        <div class="hamburger-button mob-show right">
            <h1 class="right">&#9776</h1>
        </div>
    </div>
</header>


<div class="mobile-menu">
    <nav>
        <a href="/index.html">Home</a>
        <a href="/services.html">Services</a>
        <a href="/about.html">About</a>
        <a href="/contact.html">Contact</a>
        <a href="/membership.html">Membership</a>
    </nav>
</div>