<footer class="grid-spaceBetween-middle">
    <div class="col-4-middle center footer-nav">
        <nav class="center">
            <a href="/services.html">services</a>
            <a href="/about.html">about</a>
        </nav>
    </div>
    <div class="col-4 padded">
        <a href="/index.html" style="background-image:url('/images/logo3.png')" alt="tory ellers logo" width="10%" height="10%">
        </a>
        <nav class="social-links center mt">
            <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
        </nav>
    </div>
    <div class="col-4-middle footer-nav">
        <nav class="center">
            <a href="/membership.html">membership</a>
            <a href="/contact.html">contact</a>
        </nav>
    </div>
</footer>