<footer class="grid-spaceBetween-middle padded bg-white-wall">
    <!-- <div class="col-4-middle center footer-nav">
        <nav class="center">
            <a href="/services.html">services</a>
            <a href="/about.html">about</a>
        </nav>
    </div> -->

   


    <div class="col-12 center mob-show">
        <a href="/index.html">
            <img src="/images/logo1.png" alt="Tory Ellers logo" width="40%" height="40%">
        </a>
    </div>

    <!-- <div class="col-6_md-6_sm-12 footer-nav center mob-show">
        <nav class="">
            <a style="font-size: 1.1rem;" href="/services.html">services</a> |
            <a style="font-size: 1.1rem;" href="/about.html">about</a> |
            <a style="font-size: 1.1rem;" href="/membership.html">membership</a> |
            <a style="font-size: 1.1rem;" href="/contact.html">contact</a>
        </nav>
    </div> -->
    <div class="col-12 mob-show">
        <nav class="social-links center">
            <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
        </nav>
    </div> 

    <nav class="col-4-middle left mob-hide">     
        <a class="nav-text uppercase" href="/services.html">our services</a>
        <a class="nav-text uppercase padding-l" href="/about.html">learn more</a>
    </nav>
    <div class="col-4-middle center mob-hide">
        <a href="/index.html">
            <img src="/images/logo3.png" alt="Tory Ellers logo" width="15%" height="15%">
        </a> 
    </div>
    <nav class="col-4-middle right mob-hide">     
        <a class="nav-text uppercase padding-r" href="/contact.html">plan a trip</a>
        <a class="nav-text uppercase" href="/membership.html">the club</a>
    </nav>
</footer>